[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zork2020
[access "refs/for/refs/*"]
	read = group user/zork2020
	push = group user/zork2020
	label-Code-Review = -2..+2 group user/zork2020
	label-Verified = -1..+1 group user/zork2020
	rebase = group user/zork2020
	removeReviewer = group user/zork2020
	submit = group user/zork2020
[access "refs/heads/*"]
	read = group user/zork2020
	create = group user/zork2020
	push = +force group user/zork2020
	pushMerge = group user/zork2020
[access "refs/tags/*"]
	push = +force group user/zork2020
	pushTag = group user/zork2020
	pushSignedTag = group user/zork2020
